<launch>
  <include file="$(find pipeless_plant_bringup)/launch/camera.launch" />
  <include file="$(find ceiling_cam_fiducials_odom_ekf)/launch/fiducials_detection.launch" />
  <include file="$(find pipeless_plant_bringup)/launch/tf_static_from_map.launch" />

  <!-- Localization related -->
  <include file="$(find ceiling_cam_fiducials_odom_ekf)/launch/ekf_localization.launch" />
  <node pkg="ceiling_cam_fiducials_odom_ekf" type="fiducial_pose_publisher.py" name="fiducial_tf_to_pose_msg_converter"/>
</launch>
