<launch>

  <!-- launch main drivers -->
  <include file="$(find pipeless_plant_bringup)/launch/camera.launch" />
  <!-- TODO: add PLC node -->

  <!-- launching robot bases -->
  <!-- TODO -->

  <!-- Localization related -->
  <include file="$(find ceiling_cam_fiducials_odom_ekf)/launch/ceiling_localization.launch" />

</launch>
